{%- set external_urls = {
  'github': 'https://github.com/qdrant/quaterion',
  'github_issues': 'https://github.com/qdrant/quaterion/issues',
  'contributing': 'https://github.com/qdrant/quaterion',
  'docs': '',
  'twitter': 'https://twitter.com/qdrant_engine',
  'linkedin': 'https://www.linkedin.com/company/qdrant/',
  'discuss': '',
  'tutorials': '',
  'previous_pytorch_versions': '',
  'home': '/',
  'get_started': '/getting_started/why_quaterion.html',
  'features': '',
  'blog': 'https://qdrant.tech/blog/',
  'resources': '',
  'support': 'https://discord.gg/tdtYvXjC4h',
  'community': 'https://discord.gg/tdtYvXjC4h',
  'forums': 'https://discord.gg/tdtYvXjC4h',
}
-%}
