{%- set external_urls = {
  'github': 'https://github.com/qdrant/',
  'docs': 'https://qdrant.tech/documentation/quick_start/',
  'contributing': 'https://github.com/qdrant/',
  'twitter': 'https://twitter.com/qdrant_engine',
  'linkedin': 'https://www.linkedin.com/company/qdrant/',
  'discuss': 'https://discord.gg/tdtYvXjC4h',
  'ecosystem': 'https://qdrant.tech/',
  'qdrant': 'https://qdrant.tech/',
  'tutorials': '',
  'previous_pytorch_versions': '',
  'home': '/',
  'get_started': '/',
  'features': '',
  'blog': 'https://qdrant.tech/blog/',
  'articles': 'https://qdrant.tech/articles/',
  'solutions': 'https://qdrant.tech/solutions/',
  'use-cases': 'https://qdrant.tech/use-cases/',
  'resources': '',
  'support': 'https://discord.gg/tdtYvXjC4h',
  'community': 'https://discord.gg/tdtYvXjC4h',
  'forums': 'https://discord.gg/tdtYvXjC4h',
}
-%}
